body {
  text-align: ;
}

button {
  font-size: px;
  padding: px;
  border-radius: px;
}

p {
  font-size: px;
  color: ;
}

#pass{
    width: px;
    height: px;
    font-size: px;
    }
    
#result{
    font-size: px;
    color: ;
    }